<!-- Header start -->
<header id="header" class="header-one">
  <!-- Top bar with yellow background -->
  <div class="top-info-bar">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto top-left-section">
          <ul class="top-info-list">
            <li><i class="fas fa-phone"></i> <strong>(514) 629-4433</strong></li>
            <li><i class="fas fa-certificate"></i> <strong>RBQ : 5800-6651-01</strong></li>
            <li><i class="fas fa-map-marker-alt"></i> <strong>1380 boul. René-Lévesque O, Montréal, QC H3G 0E4</strong></li>
          </ul>
        </div>
        <div class="col-auto top-right-section">
          <ul class="top-social-icons">
            <li><a href="https://www.facebook.com/p/BENCO-100091746033002/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/benco.renovation.construction/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          <!-- Language Switcher -->
          <div class="language-switcher">
            <button onclick="changeLanguage('fr')" id="lang-fr" class="active" title="Français">
              <i class="fas fa-globe"></i> FR
            </button>
            <button onclick="changeLanguage('en')" id="lang-en" title="English">
              <i class="fas fa-globe"></i> EN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main navigation -->
  <div class="site-navigation">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <!-- Left: Navigation Links -->
        <div class="col-auto nav-left-section">
          <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="nav-item active">
                      <a href="index.html" class="nav-link">Accueil</a>
                  </li>

                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">À Propos <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="about.html">Notre Entreprise</a></li>
                        <li><a href="team.html">Notre Équipe</a></li>
                        <li><a href="testimonials.html">Témoignages</a></li>
                      </ul>
                  </li>
          
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="services.html">Tous les Services</a></li>
                        <li><a href="service-single.html">Détails du Service</a></li>
                      </ul>
                  </li>
          
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Réalisations <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="projects.html">Tous les Projets</a></li>
                        <li><a href="projects-single.html">Détails du Projet</a></li>
                      </ul>
                  </li>
                </ul>
                
                <!-- Mobile SOUMISSION Button -->
                <a class="btn btn-primary btn-soumission d-lg-none" href="contact.html">SOUMISSION</a>
            </div>
          </nav>
        </div>
        
        <!-- Center: Logo -->
        <div class="col-auto nav-logo-section">
          <div class="logo">
            <a href="index.html">
              <img loading="lazy" src="images/Benco_Images/Logo.png" alt="BENCO" class="img-fluid">
            </a>
          </div>
        </div>
        
        <!-- Right: Soumission Button -->
        <div class="col-auto nav-right-section">
          <a class="btn btn-primary btn-soumission" href="contact.html">SOUMISSION</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!--/ Header end -->